language: node_js
node_js:
- 8.9.4
cache:
  directories:
  - node_modules
install:
- npm install
script:
- npm run build
deploy:
  provider: script
  skip_cleanup: true
  script: npm run semantic-release
env:
  NPM_TOKEN:
    secure: BJAb31tIORFSLw8t+/bDMxypFGFLLtDdXtksHcHysZ6m77PMiy4nacECY50MfFIdFxIwSIkJU0uHKm/JrbqCrOLEBDr2HRE0QCK4KkNK7pGj1a6jM5xk3vTYJR8ZwQjnC8HMv7Y1fkEdDlP1gmsl32lHG4bPaLl0kD+s4aPlgrhU6YCpNaAEKPaa7G97JkRCwB9dfolqDdoCSlvH+BmQMyfbMkYYBpagKwj+uCUmpG/vfRYEpP6e9hi8vo2PEJSQLNCJ236zhdCW2FVDY2aZUqA8t5JLvU2+YHSfglXtY922Q5cOoxdk9biaLky+41S9RhdC6+ekVw0n+J/sBnxXNad7ijTOZqc+QIDwZ4naYt8OkxNGaHd0PuTzctX5HxjTwX15uEfkcM72OrrzkiEYjtxwFIgarxSLVuChdvDCCk18M0Qk/PhB7xHhVROxar4bPuRQNNjnqL5M+btO8uDc5KEdVMWscMmckoOuf79qQwOuwlm2i9wKPhokBXqmXZIyGk6fIOnyuAnFAg7C9s8UDY6/9C/4pixIDf/k2JwBGymb1+poK0BLRx80uMwSOMvDiPvEOqNCmomzmc5jqV7x0s5YejpmI30CmecEn58ncRVwbsCTsLyTsuWA9ztGZktDQwuLxseAicaiC8QPwflZIRUZcLB4tQiTFT+2kOdWMRY=
  GH_TOKEN:
    secure: Muy05T4/rgvgKxzc84noAEUeW77zhnVzkUuDxpTfU4WoFvSxZhpRj/aVosLM9lnk1wDro60zS8bVC98O49wdewGLZggVaKdOLEv8Ig7p9qTbAairTTiOGmLqUqWkAS7J1dqhu/8XWHjgF/9ZgPek+rcVjMhRuUf2jJRZYM5AVcNxkNWei8A6Ba3aKP4fHwSa1oxC9r8SX4WaVl7X5FlfkSTOGzA6bnlkEF5d6Wpy3yfacmtIYziutfpc8SbQm5/2J8AUgp+iEyR5sJ5RQJ/9k2l+Pzb5IWnQk6zhIe+NYaJp0uDXirGju7uhdaXNOxHIHVHWYXQtjXJWISLdtWz1/buNM89na4Li174BiMDSr0fTAwxgs2KkIDrk6MLldJWrrnYQ5k7f4hupBLjBUQhLr3p8Tqq2ZE3Jv4vh3FJFOdajgh5VmijYDkHxtmsopCJ16jmg9PNwcsVhuVSZ15N2ViM5EJPjFG33tKhCQwoe01/V+B+WVabH38zjwlzTIlz2ttiGAXeuG+kMKahdBQvpA+kIampAfDRO6PBDW3GfmI/KPRQSBDWFaMMaYWB5W7cDhIwE8PodQuCoahdjCirliY9EmMFkFnAvqpvvtMHU2j3vtQZUH1/znwmi5491/vs3Urx+U4145HlpYGnFKqXmd+L5JetiWoMBpZizjOwkjx8=
