/**
    Default colors, override these in your sass file
*/
$fl-color-border: #bababa !default;
$fl-color-error: #f31151 !default;
$fl-color-label: #868686 !default;
$fl-color-focus: #0096bd !default;
$fl-color-background: #fff !default;

/**
    Typography
*/
$fl-font-size: 18px !default;

/*
    Begin float label styles
*/
@mixin mirum-float-labels() {
    .float-label {
        $block: &;

        position: relative;

        &--has-focus, &--has-value, &--has-error {

            #{$block}__label {
                left: 14px;
                font-size: 12px;
                transform: translate3d(0, -12px, 0);
            }
        }
        &--has-error {
            #{$block}__input, #{$block}__textarea, #{$block}__select {
                border-color: $fl-color-error;
            }
            #{$block}__label {
                color: $fl-color-error;
            }
        }
        &--has-focus {

            #{$block}__input, #{$block}__textarea, #{$block}__select {
                border-color: $fl-color-focus;
            }
            #{$block}__label {
                color: $fl-color-focus;
            }
        }
        &__input, &__textarea, &__select {
            background-color: $fl-color-background;
            border: 2px solid $fl-color-border;
            border-radius: 4px;
            padding: 20px 12px 12px;
            line-height: 1;
            font-size: $fl-font-size;
            outline: none;

            &::placeholder {
                opacity: 0;
            }
        }
        &__input, &__select {
            height: 56px;
        }
        &__label {
            position: absolute;
            top: 18px;
            left: 14px;
            font-size: 18px;
            color: $fl-color-label;
            transition: transform 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000),
                        font-size 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000),
                        color 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
        }
    }
}
